div.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
}

header {
  flex-basis: 40vh;
  position: relative;
  overflow: hidden;
}

main {
  display: flex;
  flex-grow: 1;
  padding: 30px 0;
}
aside {
  min-width: 240px;
}

section.blog {
  flex-grow: 1;
}

footer {
  text-align: center;
}
