nav {
  padding-left: 0 30px 30px 0;
}
ul {
  list-style-type: none;
}

nav.main a {
  display: block;
  text-decoration: none;
  color: rgb(9, 1, 39);
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  transition: 0.2s;
}

nav.main a:hover {
  transform: translateX(20px);
}

nav.main a.active {
  transform: translateX(0);
}

nav.main li:nth-child(1) a.active {
  border-left-color: greenyellow;
}
nav.main li:nth-child(2) a.active {
  border-left-color: darkorange;
}
nav.main li:nth-child(3) a.active {
  border-left-color: slateblue;
}
nav.main li:nth-child(4) a.active {
  border-left-color: crimson;
}
